<html lang="en">

    <head>
        <title>Abhay Chem</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    </head>
    
    <body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #43A047">
            <a class="navbar-brand" href="/home">
            ABHAY CHEM
            </a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Insert
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item active" href="/insertorders">Orders</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/insertrawMat">Raw Material records</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/insertexps">Expenses</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Full Records
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/orders">Orders</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/rawMat">Raw Material records</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/exps">Expenses</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            User
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item disabled" href="#">User: {{ username }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Profile</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav> 
        
        <br><br><br> 
       
        <div class="container">
            
            <a href="/insertorders"><button type="button" class="btn btn-success btn-lg btn-block">Add Order</button></a>
            
            <br>
            
            {% for i in orderdata %}
                
                {% if i.delivered %}
                    <div class="card text-white bg-success">
                        <div class="card-body">    
                            <h4 class="card-title">Name: {{ i.customer_name }}</h4>
                            <h6 class="card-subtitle mb-2">ID: {{ i.id }}|| Village: {{ i.village }}</h6>
                            <hr>
                            <p class="card-text">Product Name:{{ i.product_name }} </p>
                            <p class="card-text">Delivery Date:{{ i.delivery_date }} </p>
                            <p class="card-text">Delivered: {{ i.quant_delivered }}</p>
                            <P class="card-text">Total Quantity: {{ i.quantity }}</P>
                            <p class="card-text">Phone NUmber:{{ i.mobile_number }} </p>
                            <hr>
                            <P class="card-text">Delivered</P>
                            <hr>
                            <h6 class="card-subtitle mb-2">Order Date: {{ i.order_date }}</h6>
                        </div>
                        <div class="card-footer">
                            <a href="/editOrder/{{ i.id }}/">
                            <button type="button" class="btn btn-info btn-lg btn-block">Update</button>
                            </a>
                        </div>  
                    
                    
                    </div>
                <br>
                {% else %}
                    <div class="card text-white bg-warning">
                        <div class="card-body">    
                            <h4 class="card-title">Name: {{ i.customer_name }}</h4>
                            <h6 class="card-subtitle mb-2">ID: {{ i.id }}|| Village: {{ i.village }}</h6>
                            <hr>
                            <p class="card-text">Product Name:{{ i.product_name }} </p>
                            <p class="card-text">Delivery Date:{{ i.delivery_date }} </p>
                            <p class="card-text">Delivered: {{ i.quant_delivered }}</p>
                            <P class="card-text">Total Quantity: {{ i.quantity }}</P>
                            <p class="card-text">Phone NUmber:{{ i.mobile_number }} </p>
                            <hr>
                            <P class="card-text">Delivered</P>
                            <hr>
                            <h6 class="card-subtitle mb-2">Order Date: {{ i.order_date }}</h6>
                        </div>
                        <div class="card-footer">
                            <a href="/editOrder/{{ i.id }}/">
                            <button type="button" class="btn btn-info btn-lg btn-block">Update</button>
                            </a>
                        </div> 
                    
                    </div>
                <br>
                {% endif %}
            
            {% endfor %}
        
        </div>
        
        
    </body>
</html>